%h1 Welcome to One More GTD
%p
  This application is one more implementation of
  =link_to 'David Allen Getting things done',
  'http://en.wikipedia.org/wiki/Getting_Things_Done'
%p
  This project is open source, you can see all source files on
  =link_to 'Github repo', 'https://github.com/jokezer/OMGtd.git'
%p
  Warning: current version is non-production, it has many bugs and unstable yet.
%p
  Powered by Ruby on Rails 4
  Made by jokezer (jokezer@gmail.com)