%ul.nav.nav-pills.nav-stacked
  - menu_hash.each do |menu_item|
    %li{:class => ("active" if params[:status]==menu_item[:label])}
      = link_to '/todos/status/'+menu_item[:label], :class => 'button white' do
        %span= menu_item[:label]
        %span.badge.pull-right= menu_item[:quantity]