- project_hash = sidebar_projects
- context_hash = sidebar_contexts
-if context_hash.any?
  contexts
  = render 'menu/badge', menu_hash: sidebar_contexts, link: '/todos/contexts/',
   label: :label
-if project_hash.any?
  projects
  = render 'menu/badge', menu_hash: sidebar_projects, link: '/projects/',
   label: :name