=make_badge(sidebar_contexts, group_label:'Contexts',
  link: lambda{|i|"/todos/contexts/#{i[:name]}"})
=make_badge(sidebar_projects, group_label:'Projects',
  link: lambda{|i|"/projects/#{i[:name]}"})