=form_tag("/todos", method: 'post', class:'navbar-form navbar-right') do
  .form-group
    %input.form-control{placeholder:'Add todo', type:'text', name:'todo[title]'}
  %button.btn.btn-default{type:'submit'}
    %span.glyphicon.glyphicon-plus
    Add