- flash.each do |key, value|
  -if [:notice, :alert, :success].include? key
    - key = 'info' if key==:notice || key==:alert
    %div{class:"alert alert-#{key} alert-dismissable"}
      %button.close{type:'button', :'data-dismiss'=>'alert', :'aria-hidden'=>'true'} &times
      =value
  -if key == :todo_id
    %script
      $('#todo-#{value}').hide().show('slide');