.prior-buttons.btn-group{'data-toggle'=>'buttons'}
  -collection.each do |value, label|
    -checked_prior = value.to_s==selected.to_s
    %label.btn.btn-default
      %input{type:'radio', name:"#{model}[#{column}]", value: value,
        checked: checked_prior}
        = column=='context_id' ? label : label.capitalize
%script
  $('.prior-buttons.btn').button()
  $(".prior-buttons input:checked").parent().addClass('active')