-#timestamps
%span
  %small
    %span.glyphicon.glyphicon-plus-sign
    Created at #{@todo.created_at.to_formatted_s(:short)}
  %small
    %span.glyphicon.glyphicon-pencil
    Updated at #{@todo.updated_at.to_formatted_s(:short)}