=render 'header'
=render 'todos/groups', link_prepend: "projects/#{@project.name}"
-#-if @project.todos.today.any?
-#  =link_to 'All project todos', "/projects/#{(@project.name)}/todos/"
-#  .panel.panel-default
-#    .panel-body
-#      Today todos
-#  = render @project.todos.today
-#-if @project.todos.with_kind(:next).later_or_no_deadline.any?
-#  .panel.panel-default
-#    .panel-body
-#      Next todos
-#  = render @project.todos.with_kind(:next).later_or_no_deadline
-#-if @project.todos.tomorrow.any?
-#  .panel.panel-default
-#    .panel-body
-#      Tomorrow todos
-#  = render @project.todos.tomorrow