.panel.panel-default
  .panel-body
    #{group_name.capitalize} todos (#{collection.count} from #{todo_counts}):
    -if show_button
      %small
        =link_to link, class:'pull-right' do
          All #{group_name}
          %span.glyphicon.glyphicon-forward
=render collection
