- if @todos[:today].any?
  %h4 Today actions:
  =render @todos[:today]
- if @todos[:next].any?
  %h4 Next actions:
  =render @todos[:next]
- if @todos[:tomorrow].any?
  %h4 Tomorrow actions:
  =render @todos[:tomorrow]