.col-lg-offset-2
  %h3 Edit todo
  = render 'todos/form/timestamps'
= render 'todos/form/form'
:javascript
  //$(function() {
  //  var todo = new Gtd.Models.Todo(#{@todo.to_json.html_safe});
  //  console.log("todo title " + todo.get("title"))
  //  console.log("todo title " + todo.get("context"))
  //});