/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */

#modal {
  margin-top: 10%;
}

.navbar-default {
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 0;
}

$footer_height: 52px;

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: $footer_height;
}

.footer {
  position: relative;
  margin-top: -$footer_height;
  height: $footer_height;
  clear: both;
  padding-top: 20px;
  .panel {
    margin-bottom: 0;
  }
}

.sidebar {
  margin-bottom: 10px;
  .panel {
    margin-bottom: 10px;
  }
}

//devise views
.panel-devise {
  .panel-heading {
    margin-bottom: 10px;
  }
}

//panel todo

.panel-todo.prior-low {
  .panel-body {
    border-left: 8px solid #699ded;
  }
}
.panel-todo.prior-medium {
  .panel-body {
    border-left: 8px solid #dbad51;
  }
}
.panel-todo.prior-high {
  .panel-body {
    border-left: 8px solid #db705c;
  }
}