#modal {
  margin-top: 10%;
}
html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  position: relative;
}

//devise views
.panel-devise {
  .panel-heading {
    margin-bottom: 10px;
  }
}
$navbar_height: 65px;
$error_color: darkred;

.has-error{
  .help-block{
    color: $error_color;
  }
  .control-label{
    color: $error_color;
  }
  .form-control {
    border-color:  $error_color;
  }
  .form-control:focus {
    border-color:  $error_color;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 6px  $error_color;
  }
}

//ajax loading
#overlay {
  display:none;
  position:absolute;
  background:#fff;
}
#img-load {
  position:absolute;
}
#loading {
  margin: 75px 40px 0 40px ;
}

//elements
blockquote{
  margin: 0px 0px 13px;
}

//left sidebar

#left-sidebar-region{
  position: absolute;
  z-index: 3;
  background: #fff4ac;
  opacity: 0.90;
  top: $navbar_height;
  bottom: 0;
//  min-height: 625pt;
}
#left-sidebar-wrapper{
  background: #fff4ac;
  margin: 0 -15px;
  padding: 5px 10px;
  .panel-default{
    margin: 8px 0 10px
  }
}
nav.navbar.navbar-default{
  height: $navbar_height;
  margin-bottom: 0;
}

#main-region{
  padding-left: 0;
}

#central-region{
  margin-top: 12px;
}