// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-project {
  .projectSym{
    margin-left: 10px;
  }
  input{
    width: 80%;
  }
  .panel-heading{
    font-size: 22px;
    line-height: 22px;
  }
  textarea {
    overflow: hidden;
    outline: none;
    resize: none;
    width: 100%;
  }
}
.panel-project.saving{
  opacity: 0.6;
}
#projectNavsRegion{
  .nav.nav-pills{
    margin-bottom: 10px;
  }
}