// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  margin-bottom: 15px;
  .panel-heading {
    padding: 5px 10px 5px 10px;
  }
  .panel-body {
    padding: 5px 10px 5px 10px;
  }
}

.ui-state-active{
  background-color: #db5e3f;
}

.panel-todo {
  .edit {
    display: none;
    border: none;
  }
  .info {
    display: block;
  }
}

.panel-todo.editing {
  .edit {
    display: block;
  }
  .info {
    display: none;
  }
}
