// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  margin-bottom: 15px;
  .panel-heading {
    padding: 5px 10px 5px 10px;
  }
  .panel-body {
    padding: 5px 10px 5px 10px;
  }
}

.ui-state-active{
  background-color: #db5e3f;
}

.panel-todo {
  .glyphicon-pencil{
    display: none;
  }
  .panel-heading{
    height: 33px;
    >*{
      padding-left: 8px;
    }
    input{
      height: 21px;
      font-size: 17px;
      line-height: 22px;
      width: 70%;
    }
  }
  .edit {
    display: none;
    border: none;
    padding: 0;
//    border: 1px solid red;
    background: none;
  }
  textarea {
    overflow: hidden;
    outline: none;
    resize: none;
    width: 100%;
  }
  .info {
    display: block;
  }
  .content{
    padding: 0;
  }
  .textField{
    width: 95%;
  }
}

.panel-todo.editing {
  .edit {
    display: block;
  }
  .glyphicon-pencil{
    display: block;
  }
  .info {
    display: none;
  }
}

.panel-todo.saving{
  opacity: 0.6;
}
