// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#createNew{
  margin: 0 6px 9px 2px;
}
.panel {
  margin-bottom: 15px;
  .panel-heading {
    padding: 5px;
  }
  .panel-body {
    padding: 5px 10px;
  }
}

.ui-state-active{
  background-color: #db5e3f;
}

$prior_marker_width: 8px;

.panel-todo{
  h5{
    padding-left: $prior_marker_width;
  }
}
.panel-todo.prior-none {
  .panel-body {
    border-left: $prior_marker_width solid white;
  }
}.panel-todo.prior-low {
   .panel-body {
     border-left: $prior_marker_width solid #699ded;
   }
 }
.panel-todo.prior-medium {
  .panel-body {
    border-left: $prior_marker_width solid rgba(228, 174, 61, 0.78);
  }
}
.panel-todo.prior-high {
  .panel-body {
    border-left: 8px solid #db705c;
  }
}
.panel-todo {
  .panel-heading{
    height: 33px;
//    >*{
//      padding-left: 20px;
//    }
    .title{
      width: 65%;
    }
    .title[readonly]{
      padding-left: 15px;
      text-overflow: ellipsis;
    }
//    .title-label{
//      text-overflow: ellipsis;
//      white-space: nowrap;
//      overflow: hidden;
//      height: inherit;
//      padding-left: 13.5pt;
//      padding-top: 0.8pt; //todo vary in different browsers
//    }
    input{
      height: 21px;
      font-size: 17px;
      line-height: 22px;
    }
    .todo-due{
      width: 140px;
    }
  }
  .edit {
//    display: none;
    border: none;
    padding: 0 0 0 0;
//    border: 1px solid red;
    background: none;
  }
  .glyphicon-pencil.pull-left{
    position: relative;
  }
  textarea {
    overflow: hidden;
    outline: none;
    resize: none;
    width: 100%;
  }
  .info {
    display: block;
  }
  .content{
    padding: 0;
  }
  .textField{
    width: 95%;
  }
  .btn-group{
    label{
      margin-top: 4px;
    }
  }
  .editTodo{
    margin-right: 12px;
  }
  .btn-sm{
      padding: 4px 9px;
  }
  .btn-group{
    margin: 5px 15px 5px 0;
  }
  .layout{
    display: inline-block;
    vertical-align: middle;
    margin-top: 4px;
    padding: 3px;
    background: #bbdeff;
  }
}

.panel-todo.saving{
  opacity: 0.6;
}

//panel todo
$prior_marker_width: 8px;

.panel-todo[prior="none"] {
  .panel-body {
    border-left: $prior_marker_width solid white;
  }
}.panel-todo[prior="low"] {
   .panel-body {
     border-left: $prior_marker_width solid #699ded;
   }
 }
.panel-todo[prior="medium"] {
  .panel-body {
    border-left: $prior_marker_width solid rgba(228, 174, 61, 0.78);
  }
}
.panel-todo[prior="high"] {
  .panel-body {
    border-left: 8px solid #db705c;
  }
}
