- content_for :application do
  .col-lg-3
    = render 'menu/todo_sidebar'
  .col-lg-6
    .row
      - flash.each do |key, value|
        %div{:class => "col-lg-9 alert alert-#{key}"}
          =value
    .row
      = yield
= render template: 'layouts/application'