<% content_for :application do %>
    <div class="col-lg-3">
  <%= render 'menu/todo_sidebar' %>
</div>
<div class="col-lg-9">
  <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
  <%= yield %>
</div>
<% end %>

<%= render template: "layouts/application" %>
