- content_for :application do
  #left-sidebar.col-lg-3.col-md-3.col-sm-3
  .col-lg-6.col-md-6.col-sm-6
    = render 'shared/flash'
    = yield
    = render 'shared/modal'
  .col-lg-3.col-md-3.col-sm-3
    #context-sidebar
      .panel.panel-default
        .panel-heading Contexts
    #project-sidebar
      .panel.panel-default
        .panel-heading Projects
= render template: 'layouts/application'